body {
margin: 0;
padding: 0;
font-family: 'Oswald', sans-serif ;
background-color: #ffffff;
color: #000;
}

.title-header {
    font-size: 40px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}



header {
    background-color: #b8f7dc;
    color: #333; 
    padding: 20px; 
    text-align: center;
    border: 2px solid #333;
}

.desenvolvedor-site {
    position: absolute;
    top: 10px; 
    right: 1700px; 
}

.github-ico,
.link-ico {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background-size: cover;
    margin: 0 5px; 
}

.github-ico {
    background-image: url(Header/github.png);
    text-align: left;
}

.link-ico {
    background-image: url(Header/link.png);
    text-align: left;
}

.ling-title {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.ling-lista a {    
display: inline-block;
width: 200px;
height: 260px;
background-size: cover;
margin: 0 40px;
text-align: center;
}

.ling-c {
    background-image: url("Img/lingc.png");
    text-align: center;
}

.ling-lua {
    background-image: url("Img/linglua.png");
    text-align: center;
}

.ling-py {
    background-image: url("Img/lingpy.png");
    text-align: center;
}


.arqui-title {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.arqui-lista a {
    display: inline-block;
    width: 200px;
    height: 260px;
    background-size: cover;
    margin: 0 40px;
    text-align: center;
}

.arqui-limpa {
   background-image: url(Img/arqlimpa.png);
   text-align: center;
}

.eng-soft {
    background-image: url(Img/engsoft.png);
    text-align: center;
}

.cod-limpo {
    background-image: url(Img/codigolimpo.png);
    text-align: center;
}

.comp-nuvem {
    background-image: url(Img/compnuvem.png);
    text-align: center;
}

.redes-title {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.redes-lista a {
    display: inline-block;
    width: 200px;
    height: 260px;
    background-size: cover;
    margin: 0 40px;
    text-align: center;

}

.r-comp {
    background-image: url(Img/redes.png);
    text-align: center;
}

.si-title {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;

}

.si-lista a {
    display: inline-block;
    width: 200px;
    height: 260px;
    background-size: cover;
    margin: 0 40px;
    text-align: center;
}

.intro-pentest {
    background-image: url(Img/intropentest.png);
    text-align: center;
}

section{
max-width: 1500px;
margin: 20px auto;
padding: 20px;
}

.pagina-lista {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.pagina-lista li {
    display: inline-block; 
    margin-right: 10px; 
}

.pagina-lista li:last-child {
    margin-right: 0; /
}

.pagina-lista li a {
    text-decoration: none; 
    color: #333; 
    padding: 5px 10px; 
    border: 1px solid #333; 
    border-radius: 5px; 
}

.pagina-lista li a:hover {
    background-color: #333; 
    color: #fff; 
}

footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
}

@media only screen and (max-width: 768px) {

    .desenvolvedor-site {
        bottom: 10px; 
        right: 10px; 
    }
    .title-header {
        font-size: 20px;
    }

    .ling-title,
    .arqui-title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .ling-lista a,
    .arqui-lista a {
        max-width: 100%;
        margin-bottom: 50px; 
    }
}